:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --foreground: #020617;
  --background: #f8fafc;
}

html, body {
  overscroll-behavior-y: none;
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

button, a {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
:is(button, a):hover {
  border-color: #646cff;
}
:is(button, a):focus,
:is(button, a):focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



.pulse {
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-name: pulse;
  animation-timing-function: ease-in-out;
}


@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
